<!-- <!DOCTYPE html> -->
<html lang="ko-kr">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
    <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <div class="flex flex-col flex-wrap
      hover:bg-red-50 
      gap-5 mx-auto">
        <header>
            <h1 class="text-4xl font-bold text-center my-10">Noom</h1>
        </header>
        <main>
            <h2 class="text-2xl font-semibold mt-16">Welcome to Noom</h2>
            <ul id="messages"> </ul>
            <div id="enter-room" class="m-16
            rounded-2xl border-gray-600 border-solid border-4 p-16">
                <form class="w-full flex flex-col gap-9 items-center">
                    <input class="w-full
                border-gray-500 border-solid border-4 bg-gray-200
                hover:bg-white" type="text" placeholder="room name" required>
                    <button class="pt-2 pb-2 pl-6 pr-6
                rounded-2xl border-gray-600 border-solid border-4 
                active:bg-gray-600 w-fit">Enter Room</button>
                </form>

            </div>
            <div id="room" class="m-16
            rounded-2xl border-gray-600 border-solid border-4 p-16">
            <h3 name="header" 
            class="text-left h-10 font-bold mb-4"
            >default</h3>
                <form class="w-full flex flex-col gap-9 items-center ">
                    <input class="w-full
                    border-gray-500 border-solid border-4 bg-gray-200
                    hover:bg-white" type="text" placeholder="messages" required>
                    <button class="pt-2 pb-2 pl-6 pr-6
                    rounded-2xl border-gray-600 border-solid border-4 
                    active:bg-gray-600 w-fit">Send</button>
                </form>
            </div>
            <todo-item></todo-item>
        </main>
    </div>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="js/main.js" type="module"></script>
</body>

</html>